.tl-container {
    position: relative;
}

.tl-container .background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: 1000px;

}

/*set the containers for the two charts that make up the table lens.*/
.tl-container .container_chart1 {
  position: absolute;
  left: 0px;
  top: 150px;
  width: 400px;
}
.tl-container .container_chart2{
  position: absolute;
  left: 500px;
  top: 150px;
  width: 400px;
}


/*set the container for the hover tooltip.*/
.tl-container div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 215px;					
    height: 105px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: white;	
    border: solid;
    border-width: 1px;	
    border-color: black;	
    border-radius: 5px;			
    pointer-events: none;
    z-index:5;			
}

/*set the container for the strip plots.*/
.tl-container .container_stripPlot1 {
  position: absolute;
  left: 0px;
  width: 400px;
}
.tl-container .container_stripPlot2{
  position: absolute;
  left: 500px;
  width: 400px;
}

/*css for the strip plot axis.*/
.tl-container .axis path,
.tl-container .axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.tl-container .axis text {
    font-family: sans-serif;
    font-size: 11px;
}
