* { vertical-align:top; }

/* inline-block diplay + a bit under half width to make these into 2 columns */
.rx-column {
    max-width: 48%;
    display: inline-block;
}

/* make headings more uniform */
h1,h2,h3,h4,h5,h6 {
    font-family: sans;
    font-weight: bold;
}
h1,.rx-title {
    font-size: xx-large;
}
h2,.rx-subtitle {
    font-size: x-large;
    font-style: oblique;
    padding-bottom: 1em;
}
h3,.rx-heading {
    font-weight: 500;
    font-size: large;
}      
h3,.rx-subheading {
    font-weight: 500;
    font-size: medium;
    font-style: oblique;
}
.rx-tab-header {
    display: inline-block;
    width: 10%;
    border: 1px solid black;
    background-color: #FFAAFF;
}
.rx-tab-header.rx-tab-inactive {
    background-color: #CC88CC;
}
.rx-tab-strip {
    width: 100%;
    border-bottom: 1px solid black;
}

.rx-hidden {
    display: none;
    visibility: hidden;
}

/*css for the strip plot axis.*/
.tl-strip-axis path,line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.tl-strip-axis text {
    font-family: sans-serif;
    font-size: 11px;
}

