.ps-entries {
    display: block;
    padding-top: 1em;
}

.ps-progress-spinner {
    display: none;
    height: 32;
    width: 32;
}

.ps-filters {
    padding-top: 1em;
    display: block;
    border-color: white;
    border: 0;
}
.ps-filter {
    display: inline-block;
    border-color: white;
    border: 0;
}

.ps-filter_specialty{
    display: inline-block;

}
.ps-filter label {
    text-align: right;
    display: inline-block;
    width: 14%;
    padding-right: 1% 
}

.ps-filter select {
    width: 100%;
}
.ps-filter input {
    display: inline-block;
    width: 85%;
}

.ps-filter input[type=checkbox] {
    display: inline-block;
    width: auto;
}

.ps-filter .ps-autocomplete {
    width: 100%;
}

.ps-status-warn {
    background-color: #FFFAAA;
    fill: #FFFFAA;
}
.ps-status-err, .ps-error-msg {
    background-color: #FFAAAA;
    fill: #FFAAAA;
}

.ps-map {
    display: block;
}
.ps-results {
    display: block;
}


.ps-refresh {
  padding:5px;
 color: #2c3e50;
 background-color: #18bc9c;
  border: 5px outset #2c3e50;
  text-decoration:none;
  font-color: #2c3e50;
  font-size: 300%;
text-align: center; 
margin: 0 auto;
}    

.ps-reset {
  padding:5px;
 color: #2c3e50;
 background-color: #18bc9c;
  border: 1px outset #2c3e50;
  text-decoration:none;
  font-color: #2c3e50;
display: inline-block;
text-align: center; 
margin: 0 auto;
}    