* { vertical-align:top; }

#rx-physician-selector #rx-table-lens{
    width: 48%;
    display: inline-block;
}

.physician-map {
    width: 48%;
    height: 400px;
}

h1 {
    font-size: x-large;
    font-family: sans;
    font-weight: bold;
}
h2 {
    font-size: large;
    padding-bottom: 1em;
    font-family: sans;
    font-style: oblique;
}
h3 {
    font-size: medium;
    padding-bottom: 1ex;
    font-family: sans;
    font-style: oblique;
}