* { vertical-align:top; }

/* inline-block diplay + a bit under half width to make these into 2 columns */
.rx-column {
    max-width: 48%;
    display: inline-block;
}

.rx-text_explanation {
    max-width: 100%;
    display: inline-block;
}
/* make headings more uniform */
h1,h2,h3,h4,h5,h6 {
    font-family: sans;
    font-weight: bold;
}
h1,.rx-title {
    font-size: xx-large;
}
h2,.rx-subtitle {
    font-size: x-large;
    font-style: oblique;
    padding-bottom: 1em;
    font-color:#2c3e50;
}
h3,.rx-heading {
    font-weight: 500;
    font-size: large;
}      
h3,.rx-subheading {
    font-weight: 500;
    font-size: medium;
    font-style: oblique;
    
}
.rx-tab-header {
    display: inline-block;
    width: 10%;
    border: 1px solid #2c3e50;
    background-color: #24e3be;
}
.rx-tab-header.rx-tab-inactive {
    background-color: #18bc9c;
}
.rx-tab-strip {
    width: 100%;
    border-bottom: 1px solid #2c3e50;
}

.rx-hidden {
    display: none;
    visibility: hidden;
}

/*css for the strip plot axis.*/
.tl-strip-axis path,line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.tl-strip-axis text {
    font-family: sans-serif;
    font-size: 11px;
}


.star_header {
width: 50%; 
height: 20px; 
border-bottom: 1px solid #2c3e50; 
text-align: center; 
margin: 0 auto;

}

.star_span {
font-size: 20px; 
background-color: white; 
padding: 0 10px;
}

.star_header_text {
font-size: 20px; 
font-color: #2c3e50; 
margin: 5px;
text-align: center; 
}

	